<section class="form-section" id="form">
  <div class="container">
    <div class="form-main-wrapper">
      <h2 class="form-title">Form</h2>
      <form class="form" autocomplete="off">
        <div class="input-wrapp">
          <svg class="input-svg">
            <use href="./img/symbol-defs.svg#icon-information-solid"></use>
          </svg>
          <input type="text" placeholder="Device-ID" class="form-input" />
        </div>
        <div class="input-wrapp">
          <svg class="input-svg">
            <use href="./img/symbol-defs.svg#icon-information-solid"></use></svg
          ><input type="text" placeholder="API-KEY" class="form-input" />
        </div>
        <div class="date-inputs">
          <div class="input-wrapp">
            <svg class="input-svg">
              <use href="./img/symbol-defs.svg#icon-calendar"></use>
            </svg>
            <input type="text" placeholder="Start date" class="date-input" />
          </div>
          <div class="input-wrapp">
            <svg class="input-svg">
              <use href="./img/symbol-defs.svg#icon-calendar"></use></svg
            ><input type="text" placeholder="End date" class="date-input" />
          </div>
        </div>
        <button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</section>
