<section class="hero" id="home">
  <div class="container">
    <h1 class="hero-title">
      Інструкція використання додатку
      <span class="svg-wrapp">
        <svg class="clip-svg">
          <use href="./img/symbol-defs.svg#icon-clipboard"></use>
        </svg>
      </span>
    </h1>
    <ul class="instruction-list">
      <li class="instruction-item">
        <p class="instruction-item-title">
          1. Ввести айді пристрою у поле форми (айді беремо зі списку пристроїв)
        </p>
      </li>
      <li class="instruction-item">
        <p class="instruction-item-title">
          2. Ввести API-Key у відповідне поле (Ключ знаходиться у профілі
          обліковки Smart-Maic)
        </p>
      </li>
      <li class="instruction-item">
        <p class="instruction-item-title">
          3. Ввести початкову ікінцеву дати у відповідні поля форми. Дату і час
          пишемо у форматі:
        </p>
      </li>
      <li class="instruction-item">
        <p class="instruction-item-title">
          4. Натиснути кнопку Submit, та очікувати виведення даних.
        </p>
      </li>
    </ul>
    <a href="#form" class="hero-link"
      >Перейти до форми
      <svg class="link-svg">
        <use href="./img/symbol-defs.svg#icon-arrow-down"></use></svg
    ></a>
  </div>
</section>
