<section class="table-section" id="table">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="table-title">Адреса</th>
          <th class="table-title">Показник 1</th>
          <th class="table-title">Показник 2</th>
          <th class="table-title">Показник 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-subtitle">ПРИКЛАД</td>
          <td class="table-subtitle">Nilu yadav</td>
          <td class="table-subtitle">913547589</td>
          <td class="table-subtitle">surat</td>
        </tr>
        <tr>
          <td class="table-subtitle">ПРИКЛАД</td>
          <td class="table-subtitle">Ashwini Gaykwad</td>
          <td class="table-subtitle">8800376459</td>
          <td class="table-subtitle">chennai</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
